body{

    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: rgb(181 69 36YY);
  }
  .pimg21 { 
    background-image: url(11.jpg);
    min-height: 100%;
    
  }
  .pimg22{
    background-image: url(12.jpg);
    min-height: 400px;
    margin-top: 10px;
  }
  .pimg23{
    background-image: url(14.jpg);
    min-height: 400px;
  }
  .pimg21,
  .pimg22,
  .pimg23 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    padding: 0;
    margin: 0;
}
.img23{
  width: 300px;
  height: 250px;
  border-radius: 10%;
  border-style: outset;
  transition-duration: 1s;
  transition-property: all;
  transition-delay: 0.1s;
}
.img23:hover{
  transform: rotate(360deg);
  height: 300px;
  width: 340px;
}
header{
   
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0px auto;
    padding-top: 2px;
}

header nav ul{
    margin:20PX AUTO;
    list-style-type: none;
}

header nav ul li {
    display: inline;
   padding: 11PX;

}

header nav ul li a{
    color: rgb(254 225 118);
    font-size: 24px;
    text-decoration: none;
    transition-duration: 1s;
}


header nav ul li a:hover{
    color: rgb(85 120 134);
    font-size: 30px;
    text-decoration: underline;
}
.div1{
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.div1 h3{
  line-height: 40px;
}


